header.header
  .container
    .header__content
      a.header__logo(href="/")
        picture.logo
          source(srcset="${require('images/logo-mobile-sm.svg')}", media="(max-width: 425px)")
          source(srcset="${require('images/logo-mobile-lg.svg')}", media="(max-width: 768px)")
          img(srcset="${require('images/logo.png')}", alt="Logo")
      nav.nav.js-open-nav
        ul.nav__list
          li.nav__item 
            a.nav__link.js-nav-link(href="#opportunities") Наши возможности
          li.nav__item 
            a.nav__link.js-nav-link(href="#features") Что вы получаете 
          li.nav__item 
            a.nav__link.js-nav-link(href="#partners") Партнеры
      .header__burger.js-burger
        span.header__burger-item
