section.partners
  .container
    .partners__content
      .partners__header
        h2.partners__title Партнеры
        span.partners__description Биржи с которыми мы сотрудничаем
      .partners__inner
        picture.partners__img
          source(media="(max-width: 1200px)", srcset="images/binance-md.svg")
          img(src="images/binance.svg", alt="Binance")
        picture.partners__img
          source(media="(max-width: 1200px)", srcset="images/huobi-md.svg")
          img(src="images/huobi.svg", alt="Huobi")
        picture.partners__img
          source(media="(max-width: 1200px)", srcset="images/okex-md.svg")
          img(src="images/okex.svg", alt="Okex")
        picture.partners__img
          source(media="(max-width: 1200px)", srcset="images/bitfinex-md.svg")
          img(src="images/bitfinex.svg", alt="Bitfinex")
        picture.partners__img
          source(media="(max-width: 1200px)", srcset="images/hitbtc-md.svg")
          img(src="images/hitbtc.svg", alt="Hitbtc")
        picture.partners__img
          source(media="(max-width: 1200px)", srcset="images/bitstamp-md.svg")
          img(src="images/bitstamp.svg", alt="Bitstamp")