section.partners
  .container
    .partners__content
      .partners__header
        h2.partners__title Партнеры
        span.partners__description Биржи с которыми мы сотрудничаем
      .partners__inner
        picture.partners__img
          img(src="images/binance.svg", alt="Binance")
        picture.partners__img
          img(src="images/huobi.svg", alt="Binance")
        picture.partners__img
          img(src="images/okex.svg", alt="Binance")
        picture.partners__img
          img(src="images/bitfinex.svg", alt="Binance")
        picture.partners__img
          img(src="images/hitbtc.svg", alt="Binance")
        picture.partners__img
          img(src="images/bitstamp.svg", alt="Binance")