extends /layout/app

block main
  include ./intro/index

  include ./opportunities/index
  include ./features/index
  include ./banner/index
  include ./partners/index
  include ./contact-us/index
  a.button-up.js-button-up(href="#") 
      img.button-up__img(src="images/button-up.svg", alt="Button up")
