.success-send
  img.success-send__img(src="images/success.svg", alt="Success")
  h2.success-send__title Ваше сообщение успешно отправлено
  button.success-send__button.button.button--blue.js-success(type='button') OK

