section.banner
  .container
    span.banner__subtitle.subtitle.subtitle--white Робот-помощник
    h1.banner__title.main-title.main-title--white Proton Trade
    a.banner__button.button.button--white(href="#")  Попробовать
      img.banner__button-img(src="images/arrow-right.svg", alt="Arrow right")
  img.banner-bg(src="images/banner-phone.png", alt="")