.banner
  padding-top: 92px
  padding-bottom: 104px
  background-color: #4867ff
  background-image: url('./banner-bg.svg')
  background-repeat: no-repeat
  background-position: top right

.subtitle--white
  font-size: 28px
  color: $color-button

.main-title--white
  color: $color-button

.banner__title
  margin-bottom: 10px

.button--white
  display: inline-block
  border: 2px solid #fff
  border-radius: 4px
  color: $color-button

.banner__button-img
  vertical-align: middle
