section.intro
  .container
    .intro__header
      span.intro__subtitle.subtitle Робот-помощник
      h1.intro__title.main-title Proton Trade
      span.intro__description Облегчает торговлю на крипторынке
    .intro__wrapper
      a.intro__button.button.button--blue(href="#")  Попробовать
        img.intro__button-img.button--img(src="images/arrow-right.svg", alt="Arrow right")
      .button-description
        img.button-description__img(src="images/people.svg", alt="People")
        span.button-description__text Уже используют: 589 человек
    .intro__cards
      .intro__card
        h2.intro__card-title 8 474
        span.intro__card-description Криптовалюты
      .intro__card
        h2.intro__card-title >$1.5T
        span.intro__card-description Капитализация рынка
      .intro__card
        h2.intro__card-title >$214Bn
        span.intro__card-description Объем за 24ч
      .intro__card
        h2.intro__card-title 61,1%
        span.intro__card-description BTC Dominance