@import './button-description'
  
.intro
  padding-top: 180px
  padding-bottom: 140px
  background-image: url('./main-bg.png')
  background-repeat: no-repeat
  background-size: contain
  background-position: top -67px left

  +max-w($laptop)
    background-size: inherit
    background-position: top -66px left -122px

  +max-w($mobile-lg)
    padding-top: 191px
    padding-bottom: 100px
    background-position: top -54px right -183px

  +max-w($mobile-sm)
    padding-bottom: 60px

  +max-w($mobile-sm)
    padding-top: 72px
    background-position: top -205px left -311px;

.intro__header
  max-width: 581px
  margin-bottom: 60px

  +max-w($mobile-sm)
    max-width: 296px
    margin-bottom: 101px;


.intro__subtitle
  margin-bottom: 10px

  +max-w($mobile-sm)
    font-size: 18px
    line-height: 1.2

.intro__title
  margin-bottom: 5px

  +max-w($mobile-sm)
    font-size: 58px
    line-height: 1.1

.intro__description
  display: block
  font-family: $font-family-second
  font-size: 20px
  line-height: 1.2
  letter-spacing: 0.01em;

  +max-w($mobile-lg)
    margin-bottom: 148px

  +max-w($mobile-sm)
    margin-bottom: 0
    font-size: 16px


.intro__wrapper
  display: flex
  align-items: center
  margin-bottom: 183px
    
  +max-w($laptop)
    margin-bottom: 196px

  +max-w($mobile-lg)
    display: flex
    flex-direction: column
    justify-content: center
    margin-bottom: 75px

  +max-w($mobile-sm)
    align-items: start
    margin-bottom: 120px


.intro__button
  display: flex
  align-items: center
  justify-content: center

  +max-w($mobile-lg)
    width: 100%
    margin-bottom: 12px

.intro__button-img
  margin-left: 11px



.intro__cards
  display: grid
  grid-template-columns: repeat(auto-fill, minmax(275px, 1fr))
  column-gap: 24px

  +max-w($laptop)
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr))
  
  +max-w($laptop-md)
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr))
    row-gap: 24px

  +max-w($mobile-lg)
    grid-template-columns: repeat(auto-fill, minmax(235px, 1fr))

  +max-w($mobile-sm)
    grid-template-columns: repeat(auto-fill, minmax(296px, 1fr))

.intro__card
  padding: 43px 27px 40px 28px
  border-bottom: 5px solid rgba(211, 210, 243, 0.5)
  border-radius: 4px
  background-color: $color-background
  box-shadow: 0px 0px 34px rgba(208, 208, 208, 0.4)
  text-align: center

  +max-w($laptop)
    padding: 46px 27px 39px 7px

.intro__card-title
  margin-bottom: 3px
  font-size: 52px
  font-weight: $font-weight-bold

  +max-w($laptop)
    font-size: 42px
    line-height: 1.2

.intro__card-description
  font-size: 20px
