footer.footer
  .container
    .footer__body
      .footer__content
        a.footer__link(href="#") Пользовательское соглашение
        span.footer__copyright &copy; 2020 - 2021. Proton Trade. All rights reserved
      a.footer__link(href="mailto:info@proton-trade.ru") info@proton-trade.ru
